################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ragrin_dr/Calculator/.vs/Calculator/v17
